* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul: #0F52BA;
  --branco: #FFFFFF;
  --preto: #000;
  --cinza: #BFBFBF;
  --texto: #2C2C2C;
  --background: #f9f9f9;
  --sombra: -1px 1px 10px #00000050;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background); 
}

.containerBtnAdicionar {
  width: 100%;
  border: 1px solid var(--cinza);
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  
  .containerBtnAdicionar {
    border: none;
  }
  .img-car-carrinho {
    width: 1000px;
    height: 1000px;
  }
}



